<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>About Me</h1>
    <p>
      Follow me on <%= link_to (image_tag ("instagram.svg")), "https://www.instagram.com/saikrishnapothireddy/", target: "_blank" %> <%= link_to (image_tag ("twitter.svg")), "https://twitter.com/saikrishna248", target: "_blank" %><%= link_to (image_tag ("facebook.svg")), "https://www.facebook.com/profile.php?id=100009503851220", target: "_blank" %>
    </p>    
  </body>
</html>