<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Please click <%= link_to "here", contact_path %> to get contact details for help.
    </p>
  </body>
</html>