<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for user %>
        <%= user.name %>
        <% if current_user.admin? && !current_user?(user) %><h1></h1><br>
        <%= button_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>